@media (min-width: 992px) {
    .col-lg-6 {
        width: 80%!important;
    }
    #logoutButton {
        margin-left: 0!important;
    }
    #loginButton {
        margin-left: 0!important;
    }
    .col-md-12 {
        width: 40%!important;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        width: 80%!important;
    }
    .col-md-12 {
        width: 40%!important;
    }
}

.profileCard {
    background-image: linear-gradient(to bottom right, rgba(62, 44, 140, 0.3), rgba(34, 216, 229, 0.3));
  }

#desktopGreetingMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}